@model IdentityRecoverPasswordViewModel
@using AdminPanel.Models

<div class="register-box-body">
    <p class="login-box-msg">Recover Password</p>
    <form asp-controller="Login" asp-action="RecoverPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (@Model == null && (@ViewData["userid"] == null || @ViewData["code"] == null))
        {
            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
        }
        else
        {
            <div class="form-group has-feedback">
                <input asp-for="UserName" class="form-control" value="@ViewData["UserName"]" readonly>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" value="@ViewData["Email"]" readonly>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="RetypePassword" class="form-control" placeholder="Retype password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <input type="hidden" asp-for="Token" value="@ViewData["code"]"/>
        }
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Recover Password</button>
            </div>
        </div>

    </form>

</div>
<!-- /.form-box -->